{% load static %}

<section>
  <div class="footer py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="footer-title">Follow us</div>
          <div class="social-icons">
            <a href="#">
              <img src="{% static 'images/facebook.png' %}" alt="facebook" />
            </a>
            <a href="#">
              <img src="{% static 'images/Twitter.png' %}" alt="Twitter" />
            </a>
            <a href="#">
              <img src="{% static 'images/insta.png' %}" alt="instagram" />
            </a>
            <div class="info">Copyright ©</div>
            <div class="info">forexvouchers.com</div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="footer-title">Subscribe to us</div>
          <div class="info">
            Get access to our exclusive forex vouchers
            <br />
            Join thousands of forex traders worldwide
          </div>

          <div class="input-group mb-3 email-text">
            <input
              type="email"
              class="form-control"
              placeholder="Enter email address"
              aria-label="Recipient's username"
              aria-describedby="button-addon2"
            />
            <button
              class="btn btn-outline-secondary btn-subscribe"
              type="button"
              id="button-addon2"
            >
              Subscribe
            </button>
          </div>
        </div>
      </div>
    </div>
      <hr class="divider" />
      <div class="container">
        <div class="row links-section">
          <div class="col-md-4">
            <div class="links">
              <div class="footer-title">Information</div>
              <ul>
                <li><a href="">About </a></li>
                <li><a href="">Privacy Policy</a></li>
                <li><a href="">Disclaimer</a></li>
                <li><a href="">Contact us</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <div class="links">
              <div class="footer-title">Reviews</div>
              <ul>
                <li><a href="">Forex Brokers </a></li>
                <li><a href="">VPS</a></li>
                <li><a href="">Trading System</a></li>
                <li><a href="">Training</a></li>
                <li><a href="">Signals</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <div class="links">
              <div class="footer-title">Vouchers</div>
              <ul>
                <li><a href="">Discounts</a></li>
                <li><a href="">Offers</a></li>
                <li><a href="">Promocodes</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-10 text-center">
            <p class="info">Forex Vouchers address and details, and other information will be published here</p>
            <p class="info">(This can be edited from the admin) Settings > General Settings</p>
          </div>
        </div>
      </div>
  </div>
</section>
