{% extends 'base.html' %}
{% load static %}

{% block content %}
<article class="container">
  <div class="discount-vouchers">
    <div class="heading">
      <h2>Grab your discount vouchers on Forex & CFD trading</h2>
      <p>some more text here...</p>
    </div>
    <div class="row w-100 row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card h-100 voucher-card">
          <img class="voucher" src="{% static 'images/voucher.png' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h4 class="card-title">great discount</h4>
            <p class="card-text">By synergyxf</p>
            <div class="stars">
              <ul>
                <li><i class="fa-regular fa-star"></i></li>
                <li><i class="fa-regular fa-star"></i></li>
                <li><i class="fa-regular fa-star"></i></li>
                <li><i class="fa-regular fa-star"></i></li>
                <li><i class="fa-regular fa-star"></i></li>
              </ul>
            </div>
            <button type="button" class="btn btn-info">Get Discount</button>
          </div>
        </div>
      </div>
    
      <div class="col ">
        <div class="card h-100 voucher-card">
          <img class="voucher" src="{% static 'images/voucher.png' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h4 class="card-title">great discount</h4>
            <p class="card-text">By synergyxf</p>
            <div class="stars">
              <ul>
                <li><i class="fa-regular fa-star"></i></li>
                <li><i class="fa-regular fa-star"></i></li>
                <li><i class="fa-regular fa-star"></i></li>
                <li><i class="fa-regular fa-star"></i></li>
                <li><i class="fa-regular fa-star"></i></li>
              </ul>
            </div>
            <button type="button" class="btn btn-info">Get Discount</button>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card h-100 voucher-card">
          <img class="voucher" src="{% static 'images/voucher.png' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h4 class="card-title">great discount</h4>
            <p class="card-text">By synergyxf</p>
            <div class="stars">
              <ul>
                <li><i class="fa-regular fa-star"></i></li>
                <li><i class="fa-regular fa-star"></i></li>
                <li><i class="fa-regular fa-star"></i></li>
                <li><i class="fa-regular fa-star"></i></li>
                <li><i class="fa-regular fa-star"></i></li>
              </ul>
            </div>
            <button type="button" class="btn btn-info">Get Discount</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="brokers">
    <div class="heading">
      <h2>Popular Forex & CFD Brokers</h2>
    </div>

    <div class="row w-100 row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card h-fix voucher-card">
          <img class="voucher" src="{% static 'images/broker.png' %}" class="card-img-top" alt="...">
          <div class="tag">
            <img class="tag-image" src="{% static 'images/broker-tag.png' %}" class="card-img-top" alt="...">
            <p class='voucher-number'>Voucher</p>
          </div>
          <div class="card-body">
            <h4 class="card-title">great discount</h4>
            <div class="stars">
              <ul>
                <li><i class="fa-regular fa-star"></i></li>
                <li><i class="fa-regular fa-star"></i></li>
                <li><i class="fa-regular fa-star"></i></li>
                <li><i class="fa-regular fa-star"></i></li>
                <li><i class="fa-regular fa-star"></i></li>
              </ul>
            </div>
            <p class="card-text">4 reviews</p>
            <div class="details">
              <ul>
                <li>
                  <div class="values">Deposit</div>
                  <div class="num">$ 100</div>
                </li>
                <li>
                  <div class="values">Spread</div>
                  <div class="num">0.5</div>
                </li>
                <li>
                  <div class="values">Leverage</div>
                  <div class="num">500x</div>
                </li>
                <li>
                  <div class="values">Commission</div>
                  <div class="num">$ 7.5</div>
                </li>
                <li>
                  <div class="values">Broker Type</div>
                  <div class="num">STP</div>
                </li>
                <li>
                  <div class="values">Regulation</div>
                  <div class="num"></div>
                </li>
              </ul>
              
            </div>
            <button type="button" class="btn btn-info">Get Discount</button>
          </div>
        </div>
      </div>
    
      <div class="col">
        <div class="card h-fix voucher-card">
          <img class="voucher" src="{% static 'images/broker.png' %}" class="card-img-top" alt="...">
          <div class="tag">
            <img class="tag-image" src="{% static 'images/broker-tag.png' %}" class="card-img-top" alt="...">
            <p class='voucher-number'>Voucher</p>
          </div>
          <div class="card-body">
            <h4 class="card-title">great discount</h4>
            <div class="stars">
              <ul>
                <li><i class="fa-regular fa-star"></i></li>
                <li><i class="fa-regular fa-star"></i></li>
                <li><i class="fa-regular fa-star"></i></li>
                <li><i class="fa-regular fa-star"></i></li>
                <li><i class="fa-regular fa-star"></i></li>
              </ul>
            </div>
            <p class="card-text">4 reviews</p>
            <div class="details">
              <ul>
                <li>
                  <div class="values">Deposit</div>
                  <div class="num">$ 100</div>
                </li>
                <li>
                  <div class="values">Spread</div>
                  <div class="num">0.5</div>
                </li>
                <li>
                  <div class="values">Leverage</div>
                  <div class="num">500x</div>
                </li>
                <li>
                  <div class="values">Commission</div>
                  <div class="num">$ 7.5</div>
                </li>
                <li>
                  <div class="values">Broker Type</div>
                  <div class="num">STP</div>
                </li>
                <li>
                  <div class="values">Regulation</div>
                  <div class="num"></div>
                </li>
              </ul>
              
            </div>
            <button type="button" class="btn btn-info">Get Discount</button>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card h-fix voucher-card">
          <img class="voucher" src="{% static 'images/broker.png' %}" class="card-img-top" alt="...">
          <div class="tag">
            <img class="tag-image" src="{% static 'images/broker-tag.png' %}" class="card-img-top" alt="...">
            <p class='voucher-number'>Voucher</p>
          </div>
          <div class="card-body">
            <h4 class="card-title">great discount</h4>
            <div class="stars">
              <ul>
                <li><i class="fa-regular fa-star"></i></li>
                <li><i class="fa-regular fa-star"></i></li>
                <li><i class="fa-regular fa-star"></i></li>
                <li><i class="fa-regular fa-star"></i></li>
                <li><i class="fa-regular fa-star"></i></li>
              </ul>
            </div>
            <p class="card-text">4 reviews</p>
            <div class="details">
              <ul>
                <li>
                  <div class="values">Deposit</div>
                  <div class="num">$ 100</div>
                </li>
                <li>
                  <div class="values">Spread</div>
                  <div class="num">0.5</div>
                </li>
                <li>
                  <div class="values">Leverage</div>
                  <div class="num">500x</div>
                </li>
                <li>
                  <div class="values">Commission</div>
                  <div class="num">$ 7.5</div>
                </li>
                <li>
                  <div class="values">Broker Type</div>
                  <div class="num">STP</div>
                </li>
                <li>
                  <div class="values">Regulation</div>
                  <div class="num"></div>
                </li>
              </ul>
              
            </div>
            <button type="button" class="btn btn-info">Get Discount</button>
          </div>
        </div>
      </div>
      

    
    </div>
  </div>

  <div class="others">
    <div class="heading">
      <h2>Other than Brokers</h2>
      <p>some more text..</p>
    </div>

    <div class="row w-100 row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card h-fix voucher-card">
          <img class="voucher" src="{% static 'images/broker.png' %}" class="card-img-top" alt="...">
          <div class="tag">
            <img class="tag-image" src="{% static 'images/broker-tag.png' %}" class="card-img-top" alt="...">
            <p class='voucher-number'>Voucher</p>
          </div>
          <div class="card-body">
            <h4 class="card-title">great discount</h4>
            <div class="stars">
              <ul>
                <li><i class="fa-regular fa-star"></i></li>
                <li><i class="fa-regular fa-star"></i></li>
                <li><i class="fa-regular fa-star"></i></li>
                <li><i class="fa-regular fa-star"></i></li>
                <li><i class="fa-regular fa-star"></i></li>
              </ul>
            </div>
            <p class="card-text">4 reviews</p>
          
            <button type="button" class="btn btn-bottom btn-info">Get Discount</button>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card h-fix voucher-card">
          <img class="voucher" src="{% static 'images/broker.png' %}" class="card-img-top" alt="...">
          <div class="tag">
            <img class="tag-image" src="{% static 'images/broker-tag.png' %}" class="card-img-top" alt="...">
            <p class='voucher-number'>Voucher</p>
          </div>
          <div class="card-body">
            <h4 class="card-title">great discount</h4>
            <div class="stars">
              <ul>
                <li><i class="fa-regular fa-star"></i></li>
                <li><i class="fa-regular fa-star"></i></li>
                <li><i class="fa-regular fa-star"></i></li>
                <li><i class="fa-regular fa-star"></i></li>
                <li><i class="fa-regular fa-star"></i></li>
              </ul>
            </div>
            <p class="card-text">4 reviews</p>
          
            <button type="button" class="btn btn-bottom btn-info">Get Discount</button>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card h-fix voucher-card">
          <img class="voucher" src="{% static 'images/broker.png' %}" class="card-img-top" alt="...">
          <div class="tag">
            <img class="tag-image" src="{% static 'images/broker-tag.png' %}" class="card-img-top" alt="...">
            <p class='voucher-number'>Voucher</p>
          </div>
          <div class="card-body">
            <h4 class="card-title">great discount</h4>
            <div class="stars">
              <ul>
                <li><i class="fa-regular fa-star"></i></li>
                <li><i class="fa-regular fa-star"></i></li>
                <li><i class="fa-regular fa-star"></i></li>
                <li><i class="fa-regular fa-star"></i></li>
                <li><i class="fa-regular fa-star"></i></li>
              </ul>
            </div>
            <p class="card-text">4 reviews</p>
          
            <button type="button" class="btn btn-bottom btn-info">Get Discount</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="compare-brokers">
    <div class="heading">
      <h2>Compare Brokers</h2>
      <p>some more text..</p>
    </div>
    <div class="row w-100 row-cols-1 row-cols-md-3 g-4">
      <div class="col">
          <div class="card vs">
            <div class="one compare">
              <div class="image">
                <img class="small-img" src="{% static 'images/voucher.png' %}" class="card-img-top" alt="...">
              </div>
              <div class="name">
               <h6>Broker 1</h6>
               <div class="stars">
                <ul>
                  <li><i class="fa-regular fa-star"></i></li>
                  <li><i class="fa-regular fa-star"></i></li>
                  <li><i class="fa-regular fa-star"></i></li>
                  <li><i class="fa-regular fa-star"></i></li>
                  <li><i class="fa-regular fa-star"></i></li>
                </ul>
              </div>
              </div>
            </div>
            <h5>VS</h5>
            <div class="tow compare">
              <div class="image">
                <img class="small-img" src="{% static 'images/voucher.png' %}" class="card-img-top" alt="...">
              </div>
              <div class="name">
               <h6>Broker 1</h6>
               <div class="stars">
                <ul>
                  <li><i class="fa-regular fa-star"></i></li>
                  <li><i class="fa-regular fa-star"></i></li>
                  <li><i class="fa-regular fa-star"></i></li>
                  <li><i class="fa-regular fa-star"></i></li>
                  <li><i class="fa-regular fa-star"></i></li>
                </ul>
              </div>
              </div>
            </div>
          </div>
      </div>

      <div class="col">
        <div class="card vs">
          <div class="one compare">
            <div class="image">
              <img class="small-img" src="{% static 'images/voucher.png' %}" class="card-img-top" alt="...">
            </div>
            <div class="name">
             <h6>Broker 1</h6>
             <div class="stars">
              <ul>
                <li><i class="fa-regular fa-star"></i></li>
                <li><i class="fa-regular fa-star"></i></li>
                <li><i class="fa-regular fa-star"></i></li>
                <li><i class="fa-regular fa-star"></i></li>
                <li><i class="fa-regular fa-star"></i></li>
              </ul>
            </div>
            </div>
          </div>
          <h5>VS</h5>
          <div class="tow compare">
            <div class="image">
              <img class="small-img" src="{% static 'images/voucher.png' %}" class="card-img-top" alt="...">
            </div>
            <div class="name">
             <h6>Broker 1</h6>
             <div class="stars">
              <ul>
                <li><i class="fa-regular fa-star"></i></li>
                <li><i class="fa-regular fa-star"></i></li>
                <li><i class="fa-regular fa-star"></i></li>
                <li><i class="fa-regular fa-star"></i></li>
                <li><i class="fa-regular fa-star"></i></li>
              </ul>
            </div>
            </div>
          </div>
        </div>
    </div>

    <div class="col">
      <div class="card vs">
        <div class="one compare">
          <div class="image">
            <img class="small-img" src="{% static 'images/voucher.png' %}" class="card-img-top" alt="...">
          </div>
          <div class="name">
           <h6>Broker 1</h6>
           <div class="stars">
            <ul>
              <li><i class="fa-regular fa-star"></i></li>
              <li><i class="fa-regular fa-star"></i></li>
              <li><i class="fa-regular fa-star"></i></li>
              <li><i class="fa-regular fa-star"></i></li>
              <li><i class="fa-regular fa-star"></i></li>
            </ul>
          </div>
          </div>
        </div>
        <h5>VS</h5>
        <div class="tow compare">
          <div class="image">
            <img class="small-img" src="{% static 'images/voucher.png' %}" class="card-img-top" alt="...">
          </div>
          <div class="name">
           <h6>Broker 1</h6>
           <div class="stars">
            <ul>
              <li><i class="fa-regular fa-star"></i></li>
              <li><i class="fa-regular fa-star"></i></li>
              <li><i class="fa-regular fa-star"></i></li>
              <li><i class="fa-regular fa-star"></i></li>
              <li><i class="fa-regular fa-star"></i></li>
            </ul>
          </div>
          </div>
        </div>
       </div>
    </div>

       <div class="col">
          <div class="card vs">
            <div class="one compare">
              <div class="image">
                <img class="small-img" src="{% static 'images/voucher.png' %}" class="card-img-top" alt="...">
              </div>
              <div class="name">
               <h6>Broker 1</h6>
               <div class="stars">
                <ul>
                  <li><i class="fa-regular fa-star"></i></li>
                  <li><i class="fa-regular fa-star"></i></li>
                  <li><i class="fa-regular fa-star"></i></li>
                  <li><i class="fa-regular fa-star"></i></li>
                  <li><i class="fa-regular fa-star"></i></li>
                </ul>
              </div>
              </div>
            </div>
            <h5>VS</h5>
            <div class="tow compare">
              <div class="image">
                <img class="small-img" src="{% static 'images/voucher.png' %}" class="card-img-top" alt="...">
              </div>
              <div class="name">
               <h6>Broker 1</h6>
               <div class="stars">
                <ul>
                  <li><i class="fa-regular fa-star"></i></li>
                  <li><i class="fa-regular fa-star"></i></li>
                  <li><i class="fa-regular fa-star"></i></li>
                  <li><i class="fa-regular fa-star"></i></li>
                  <li><i class="fa-regular fa-star"></i></li>
                </ul>
              </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>

  <div class="partner">
    <div class="heading">
      <h2>Popular Forex & CFD Brokers</h2>
    </div>
    <div class="row w-100 row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card h-100 voucher-card">
          <img class="voucher" src="{% static 'images/broker.png' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h4 class="card-title">Broker 1</h4>
            <div class="stars">
              <ul>
                <li><i class="fa-regular fa-star"></i></li>
                <li><i class="fa-regular fa-star"></i></li>
                <li><i class="fa-regular fa-star"></i></li>
                <li><i class="fa-regular fa-star"></i></li>
                <li><i class="fa-regular fa-star"></i></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card h-100 voucher-card">
          <img class="voucher" src="{% static 'images/broker.png' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h4 class="card-title">Broker 1</h4>
            <div class="stars">
              <ul>
                <li><i class="fa-regular fa-star"></i></li>
                <li><i class="fa-regular fa-star"></i></li>
                <li><i class="fa-regular fa-star"></i></li>
                <li><i class="fa-regular fa-star"></i></li>
                <li><i class="fa-regular fa-star"></i></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card h-100 voucher-card">
          <img class="voucher" src="{% static 'images/broker.png' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h4 class="card-title">Broker 1</h4>
            <div class="stars">
              <ul>
                <li><i class="fa-regular fa-star"></i></li>
                <li><i class="fa-regular fa-star"></i></li>
                <li><i class="fa-regular fa-star"></i></li>
                <li><i class="fa-regular fa-star"></i></li>
                <li><i class="fa-regular fa-star"></i></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card h-100 voucher-card">
          <img class="voucher" src="{% static 'images/broker.png' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h4 class="card-title">Broker 1</h4>
            <div class="stars">
              <ul>
                <li><i class="fa-regular fa-star"></i></li>
                <li><i class="fa-regular fa-star"></i></li>
                <li><i class="fa-regular fa-star"></i></li>
                <li><i class="fa-regular fa-star"></i></li>
                <li><i class="fa-regular fa-star"></i></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
{% endblock content %}